:root {
	--x-black: #222222;
	--x-dark-blue:#1C4078;
	--x-light-beige: #fffbe8;

	--x-blue: #288be6;
}
/* -------common styles-------- */
body {
	margin: 0;
	min-width: 960px;
	font-family: "Jost", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--x-black);
	background: url("../img/head.jpg") center top no-repeat,white;
}
.container {
	max-width: 928px;
	margin: 0 auto;
	padding: 0 16px;
}
/* -------clear styles------- */
.figure-clear {
	margin: 0;
	padding: 0;
}
.text-clear{
	margin: 0;
	padding: 0;
}
/* -------header------- */
.page-header {
	margin: 0 0 160px;
	padding: 32px 0 32px;
	text-align: right;
}
.page-header a {
	color: var(--x-dark);
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 56px;
}
.header-email {
	padding-left: 30px;
	background-image: url("../img/icon-email-header.svg");
}
.header-phone {
	padding-left: 25px;
	background-image: url("../img/icon-phone-header.svg");
}
.hero-image {
	margin-bottom: 620px;
}
.hero-image .container {
	max-width: 1408px;
	text-align: center;
}
.heading {
	font-family: "Jost", "Verdana", sans-serif;
	text-transform: uppercase;
	color: var(--x-dark-blue);
	font-size: 50px;
	line-height: 1.5;
	font-weight: 400;
	margin: 0 0 16px;
}
.hero-image p {
	margin: 0;
	font-size: 32px;
	line-height: 1.5;
}
.intro {
	margin: 0 0 90px;
}
.rezume{
	display: flex;
}
.my-photo{
	width: 200px;
	height: 200px;
border-radius: 10%;
border: 3px solid white;


}
.subheading {
	font-size: 50px;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	margin: 0 0 30px;
}
.user-image {
	margin: 0 0 32px;
	text-align: center;
}
.intro h3,
.portfolio h3 {
	margin: 0 0 12px;
	font-size: 28px;
	line-height: 40px;
	font-weight: 500;
}

.intro p {
	margin: 0 0 32px;
}

.skills-list {
	margin: 0;
	padding: 0;
}

.skills-list dt {
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left;
}

.skill-html {
	background-image: url("../img/icon-html.svg");
}

.skill-css {
	background-image: url("../img/icon-css.svg");
}

.level {
	margin: 4px 0 16px;
	padding: 0;
	height: 14px;
	font-size: 0;
	background-color: #ffffff;
	border: 1px solid #86c3fa;
	border-radius: 8px;
}

.level div {
	margin: 1px;
	height: 12px;
	background-color: #288be6;
	border-radius: 6px;
}

.portfolio {
	margin: 0 0 120px;
}

.projects {
	margin: 0;
	padding: 0;
	list-style: none;
}

.projects li {
	margin: 0 0 80px;
}

.project-image {
	margin: 0 0 24px;
	text-align: center;
}

.projects p {
	margin: 0 0 24px;
}

.button {
	padding: 6px 20px;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #288be6;
	color: #ffffff;
}

.page-footer {
	padding: 40px 0;
	background-color: #00417d;
}

.page-footer a {
	margin-left: 56px;
	color: #ffffff;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.footer-email {
	padding-left: 30px;
	background-image: url("../img/icon-email-footer.svg");
}

.footer-phone {
	padding-left: 25px;
	background-image: url("../img/icon-phone-footer.svg");
}
