// Header

.about__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

// Image block

.about__image-block {
  margin-right: 20px;
  height: 90px;
  flex: 0 0 90px;
}

.about__image-block img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

// Subtitle

.about__subtitle {
  margin: 0 0 20px;
  text-align: center;
}

// Text

.about__text {
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
