// ===Page===

.page {
  max-width: 100%;
  min-width: $mobile-width;
  height: 100%;
}

// Body

.page__body {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: $mobile-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--cl-bg-page);

  @include set-font-style(var(--fz-main), var(--lh-main));
  color: var(--cl-txt-main);
}

// Header

.page__header {
  margin-bottom: 10px;
  grid-row: 1/2;
  grid-column: 1/2;
}

// Main

.page__main {
  margin-bottom: 10px;
  grid-row: 2/3;
  grid-column: 1/2;
}

// Footer

.page__footer {
  margin-bottom: 10px;
  grid-row: 3/4;
  grid-column: 1/2;
}
