//Subtile

.skills__subtitle {
  margin-bottom: 5px;
}
// Block

.skills__block {
  @media (min-width: $tablet-width) {
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// List

.skills__list {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include set-font-style(var(--fz-skills-item), var(--lh-skills-item));
  @include uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.skills__item {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

// Text

.skills__text {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}
