// Subtile

.skills__subtitle {
  margin: 0 0 20px;
  text-align: center;
}

// Block

.skills__block {
  margin: 0 -10px 20px;

  @media (min-width: $tablet-width) {
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// List

.skills__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  @include set-font-style(var(--fz-skills-item), var(--lh-skills-item));
}

.skills__item {
  display: flex;
  padding: 10px;
  margin: 0 10px 10px;
  flex-direction: column;
  text-align: center;
}

// Image 

.skills__image-block {
  display: flex;
  min-height: 25px;
  justify-content: center;
}

.skills__icon {
  max-width: 22px;
  height: auto;
}

// Name

.skills__name {
  margin: auto 0 0;
  text-transform: uppercase;
}

// Text

.skills__text {
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
