:root {
  --fz-main: 14px;
  --lh-main: 18px;
  --fz-menu: 20px;
  --lh-menu: 20px;
  --fz-title: 36px;
  --lh-title: 36px;
  --fz-subtitle: 24px;
  --lh-subtitle: 37px;
  --fz-button: 14px;
  --lh-button: 18px;
  --fz-cover: 14px;
  --lh-cover: 14px;
  --fz-program-button: 16px;
  --lh-program-button: 16px;
  --fz-example-progress: 24px;
  --lh-example-progress: 24px;
  --fz-example-description: 12px;
  --lh-example-description: 12px;
  --fz-example-legend: 14px;
  --lh-example-legend: 20px;
  --fz-slider-button: 16px;
  --lh-slider-button: 20px;
  --fz-address-text: 14px;
  --lh-address-text: 20px;
  --fz-footer-subtitle: 16px;
  --lh-footer-subtitle: 20px;
  --fz-footer-promo-text: 16px;
  --lh-footer-promo-text: 18px;
  --fz-legend: 24px;
  --lh-legend: 26px;
  --fz-form-title: 16px;
  --lh-form-title: 20px;
  --fz-form-button: 16px;
  --lh-form-button: 20px;
  --fz-form-item-text: 16px;
  --lh-form-item-text: 18px;
  --fz-form-main-legend: 14px;
  --lh-form-main-legend: 18px;
  --fz-form-legend: 14px;
  --lh-form-legend: 16px;
  --fz-catalog-button: 16px;
  --lh-catalog-button: 20px;
  --fz-catalog-title: 24px;
  --lh-catalog-title: 24px;
  --fz-catalog-subtitle: 16px;
  --lh-catalog-subtitle: 20px;
  --fz-catalog-subtitle-extra: 16px;
  --lh-catalog-subtitle-extra: 16px;
  --fz-catalog-table: 12px;
  --lh-catalog-table: 12px;
  --fz-catalog-table-extra: 14px;
  --lh-catalog-table-extra: 14px;
  --fz-catalog-promo: 16px;
  --lh-catalog-promo: 20px;
}

@media (min-width: $tablet-width) {
  :root {
    --fz-main: 16px;
    --lh-main: 24px;
    --fz-menu: 18px;
    --lh-menu: 20px;
    --fz-title: 60px;
    --lh-title: 60px;
    --fz-subtitle: 36px;
    --lh-subtitle: 36px;
    --fz-cover: 20px;
    --lh-cover: 20px;
    --fz-button: 20px;
    --lh-button: 20px;
    --fz-program-button: 20px;
    --lh-program-button: 30px;
    --fz-advantages-number: 280px;
    --lh-advantages-number: 280px;
    --fz-example-progress: 30px;
    --lh-example-progress: 37px;
    --fz-example-description: 14px;
    --lh-example-description: 14px;
    --fz-example-legend: 20px;
    --lh-example-legend: 30px;
    --fz-slider-button: 20px;
    --lh-slider-button: 30px;
    --fz-address-text: 16px;
    --lh-address-text: 20px;
    --fz-footer-subtitle: 20px;
    --lh-footer-subtitle: 25px;
    --fz-catalog-title: 36px;
    --lh-catalog-title: 36px;
    --fz-catalog-subtitle: 20px;
    --lh-catalog-subtitle: 24px;
    --fz-catalog-subtitle-extra: 20px;
    --lh-catalog-subtitle-extra: 20px;
    --fz-catalog-table-extra: 16px;
    --lh-catalog-table-extra: 20px;
    --fz-catalog-table: 16px;
    --lh-catalog-table: 16px;
    --fz-catalog-promo: 16px;
    --lh-catalog-promo: 20px;
    --fz-legend: 36px;
    --lh-legend: 36px;
    --fz-form-button: 20px;
    --lh-form-button: 20px;
    --fz-form-item-text: 20px;
    --lh-form-item-text: 30px;
    --fz-form-main-legend: 20px;
    --lh-form-main-legend: 30px;
    --fz-form-legend: 16px;
    --lh-form-legend: 16px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --fz-menu: 20px;
    --lh-menu: 30px;
    --fz-title: 60px;
    --lh-title: 60px;
    --fz-catalog-subtitle: 20px;
    --lh-catalog-subtitle: 21px;
  }
}
