:root {
  --fz-main: 12px;
  --lh-main: 16px;
  --fz-main-title: 18px;
  --lh-main-title: 26px;
  --fz-section-title: 20px;
  --lh-section-title: 29px;
  --fz-section-subtitle: 16px;
  --lh-section-subtitle: 23px;
  --fz-menu-item: 18px;
  --lh-menu-item: 26px;
  --fz-skills-item: 10px;
  --lh-skilla-item: 25px;
}

@media (min-width: $tablet-width) {
  :root {
    --fz-main: 16px;
    --lh-main: 24px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --fz-menu: 20px;
    --lh-menu: 30px;
  }
}
